{% extends "catalog.html" %}
{% block content %}
	{{ super() }}
	<div class = 'col-md-8'>
	<h2>Latest Items</h2>
    {% if items !=[] %}
		{% for i in items %}
			<p>{{i.name}} ({{ get_category(categories, i.category_id).name }})
			{% if "username" in login_session and i.user_id == login_session["user_id"]: %}
				[<a href='{{url_for('edit_item', category_id = get_category(categories, i.category_id).id, item_id=i.id ) }}' >Edit</a>,
				<a href='{{url_for('delete_item', category_id = get_category(categories, i.category_id).id, item_id=i.id ) }}' >Delete</a>]
			{% endif %}
			</p>
			<p class="description">{{i.description}}</p>
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}
