{% extends "layout.html" %}
{% block content %}
	<h1>New Item</h1>
	<form action="#" method = 'post'>
		<p>Name:</p>
		<input type ='text' size='30' name='name'>
		<p>Description:</p>
		<input type ='text' size='30' name='description'>
		<br /><br />
		<p>Category:</p>
		<select name="category_id">
			{% for category in categories %}
				{% if category_id == category.id %}
				<option selected="selected" value="{{ category.id }}">{{ category.name }}</option>
				{% else %}
				<option value="{{ category.id }}">{{ category.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
		<br /><br />
		<input type='submit' value='Create'>
		<a href = "{{ url_for('show_items', category_id=category_id )}}"> Cancel </a>
	</form>
{% endblock %}
